<div class="listOfUser">
    <div class="header">
        <mat-icon (click)="dialog.closeAll()">keyboard_backspace</mat-icon>
        <h2>New Chat</h2>
    </div>

    <div class="searchBox">
        <div class="input_group">
            <img src="../../../assets/images/search.png" alt="" class="form_icon " *ngIf="searching" />
            <img src="../../../assets/images/left-arrow.png" alt="" class="form_icon " *ngIf="!searching" />
            <input #userName type="text" id="input" class="l_form_control" placeholder="Search by Name/Number" [(ngModel)]="searchByName" (keyup)="filterUsers()" (focus)="onFocusCountry()" (blur)="onBlurCountry()" />
        </div>
    </div>
    <mat-divider></mat-divider>


    <!-- list of users  -->

    <div class="users">
        <!-- group -->
        <div class="group">
            <div class="avatar">
                <mat-icon>group</mat-icon>
                <!-- <img src="https://lh3.googleusercontent.com/a/AATXAJyvJ2ZtNRR1Ulu427EN_mB_vd8yjwkxR16VKuuH=s96-c" class="" alt=""> -->
            </div>
            <div class="media_body ml_12">
                <h6>New Group</h6>
            </div>
        </div>
        <!-- !group -->
        <div class="user" *ngFor="let item of filteredUsers; let i=index" [ngClass]="{'activeChat' : item?.id==currentChatUserId}" (click)="setCurrentChat(item)" >
            <div class="avatar" [ngClass]="{'online' : item?.online}">
                <img src="../../../assets/images/profile.jpg" class="" alt="" >
                <!-- <img src="{{item?.photoURL}}" class="" alt="" *ngIf="item?.photoURL" > -->
            </div>
            <div class="media_body ml_12" >
                <h6>{{item?.name}}</h6>
                <span *ngIf="item?.bio.length>75">{{item?.bio.substring(0,75)+'...'}}</span>
                <span *ngIf="item?.bio.length<=75">{{item?.bio}}</span>
            </div>
            <div class="media_status">
                <p class="time">Joined On</p>
                <p class="time">{{item?.createdAt.seconds*1000 | date:'mediumDate'}}</p>
                <!-- <span class="time_class">item?.createdAt.seconds*1000 | date:'h:mm a'</span> -->
            </div>
        </div>
    </div>
</div>
